@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 45, 45, 60;
  --hex-blank-rgb: 75, 75, 75;
  --hex-side: 25px;
  --hex-dim-long: calc(var(--hex-side) * sqrt(3));
  --hex-spacing: 5px;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100%;
}

.Hex {
  margin-top: var(--hex-side);
  width: calc(2 * var(--hex-dim-long));
  height: calc(2 * var(--hex-side));
  background-color: rgb(var(--hex-blank-rgb));
  position: relative;
  float: left;
  margin-left: var(--hex-spacing);
  margin-bottom: var(--hex-spacing);

  &:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: var(--hex-side) solid rgb(var(--hex-blank-rgb));
    border-left: var(--hex-dim-long) solid transparent;
    border-right: var(--hex-dim-long) solid transparent;
    position: absolute;
    top: calc(-1 * var(--hex-side));
  }

  &:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: calc(-1 * var(--hex-side));
    border-top: var(--hex-side) solid rgb(var(--hex-blank-rgb));
    border-left: var(--hex-dim-long) solid transparent;
    border-right: var(--hex-dim-long) solid transparent;
  }
}

.Layer {
  padding-bottom: var(--hex-side);
}

.HexRow {
  clear: left;

  &:nth-child(even) {
    margin-left: calc(var(--hex-dim-long) + calc(var(--hex-spacing) / 2));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
