@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(var(--background-rgb));
  --foreground-rgb: 0 0 0;
  --background-rgb: 50 50 50;
  --hex-blank-rgb: 60 60 60;
  --zoom: 0.5;
  --hex-side: calc(var(--zoom) * 30px + 11px);
  --hex-spacing: calc(var(--zoom) * 6px + 1px);
  --hex-dim-long: calc(var(--hex-side) * sqrt(3));
}

body {
  width: max-content;
  min-width: 100vw;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
}

.Hex {
  display: inline-block;
  // TODO figure out magic number 7px
  margin-bottom: calc(var(--hex-spacing) - var(--hex-side) - 7px);
  margin-left: var(--hex-spacing);

  .HexTop {
    border-right: var(--hex-dim-long) solid transparent;
    border-bottom: var(--hex-side) solid transparent;
    border-left: var(--hex-dim-long) solid transparent;
    width: 0;
  }

  .HexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(2 * var(--hex-dim-long));
    height: calc(2 * var(--hex-side));
  }

  .HexBottom {
    border-top: var(--hex-side) solid transparent;
    border-right: var(--hex-dim-long) solid transparent;
    border-left: var(--hex-dim-long) solid transparent;
    width: 0;
  }
}

.TileLayer {
  .Hex {
    .HexTop {
      border-bottom-color: rgb(var(--hex-blank-rgb));
    }

    .HexMiddle {
      background-color: rgb(var(--hex-blank-rgb));
    }

    .HexBottom {
      border-top-color: rgb(var(--hex-blank-rgb));
    }
  }
}

.TokenLayer {
  .Hex .TokenView {
    width: calc(var(--zoom) * 5rem + 1rem);
    height: calc(var(--zoom) * 5rem + 1rem);
    font-size: calc(var(--zoom) * 1.8rem + 0.25rem);

    &.emoji-name {
      font-size: calc(var(--zoom) * 2.5rem + 1rem);
    }
  }

  .Hex.DropTarget {
    .HexTop {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .HexMiddle {
      background-color: rgba(255, 255, 255, 0.25);
    }

    .HexBottom {
      border-top-color: rgba(255, 255, 255, 0.25);
    }
  }

  .Hex.DragSource {
    background-color: rgba(0, 255, 0, 0.25);

    &:before {
      border-bottom-color: rgba(0, 255, 0, 0.25);
    }

    &:after {
      border-top-color: rgba(0, 255, 0, 0.25);
    }
  }

  .Hex.InRange {
    background-color: rgba(255, 255, 0, 0.25);

    &:before {
      border-bottom-color: rgba(255, 255, 0, 0.25);
    }

    &:after {
      border-top-color: rgba(255, 255, 0, 0.25);
    }
  }
}

.HexRow {
  white-space: nowrap;

  &:nth-child(even) {
    margin-left: calc(var(--hex-dim-long) + calc(var(--hex-spacing) / 2));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
