@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 45, 45, 60;
  --hex-blank-rgb: 75, 75, 75;
  --hex-side: 26px;
  --hex-dim-long: calc(var(--hex-side) * sqrt(3));
  --hex-spacing: 4px;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  background: rgb(var(--background-rgb));
  width: max-content;
  min-width: 100vw;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
}

.Hex {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: var(--hex-side);
  margin-bottom: calc(
    var(--hex-spacing) - 7px
  ); // TODO figure out magic number 7px
  margin-left: var(--hex-spacing);
  width: calc(2 * var(--hex-dim-long));
  height: calc(2 * var(--hex-side));

  &:before {
    position: absolute;
    top: calc(-1 * var(--hex-side));
    border-right: var(--hex-dim-long) solid transparent;
    border-bottom: var(--hex-side) solid transparent;
    border-left: var(--hex-dim-long) solid transparent;
    width: 0;
    height: 0;
    content: ' ';
  }

  &:after {
    position: absolute;
    bottom: calc(-1 * var(--hex-side));
    border-top: var(--hex-side) solid transparent;
    border-right: var(--hex-dim-long) solid transparent;
    border-left: var(--hex-dim-long) solid transparent;
    width: 0;
    content: '';
  }
}

.BackgroundLayer {
  .Hex {
    background-color: rgb(var(--hex-blank-rgb));

    &:before {
      border-bottom-color: rgb(var(--hex-blank-rgb));
    }

    &:after {
      border-top-color: rgb(var(--hex-blank-rgb));
    }
  }
}

.TokenLayer {
  .Hex.DropTarget:empty {
    background-color: rgba(255, 255, 255, 0.25);

    &:before {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    &:after {
      border-top-color: rgba(255, 255, 255, 0.25);
    }
  }

  .Hex.DragSource {
    background-color: rgba(0, 255, 0, 0.25);

    &:before {
      border-bottom-color: rgba(0, 255, 0, 0.25);
    }

    &:after {
      border-top-color: rgba(0, 255, 0, 0.25);
    }
  }

  .Hex.InRange {
    background-color: rgba(255, 255, 0, 0.25);

    &:before {
      border-bottom-color: rgba(255, 255, 0, 0.25);
    }

    &:after {
      border-top-color: rgba(255, 255, 0, 0.25);
    }
  }
}

.GridLayer {
  padding-bottom: var(--hex-side);
}

.HexRow {
  white-space: nowrap;

  &:nth-child(even) {
    margin-left: calc(var(--hex-dim-long) + calc(var(--hex-spacing) / 2));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
